# Write the code to answer the following questions

# 0- Imports

In [2]:
import pandas as pd

# 1- Read Salaries.csv as DataFrame & Call it `sal`.

In [3]:
sal=pd.read_csv("Salaries.csv")

C:\Users\youss\AppData\Roaming\Python\Python38\site-packages\IPython\core\interactiveshell.py:3062: DtypeWarning: Columns (3,4,5,6,12) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

# 2- Check the head of the DataFrame

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411,0,400184,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966,245132,137811,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739,106088,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916,56120.7,198307,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134402,9737,182235,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

# 3- Use the .info() method to find out how many entries there are.

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

# 4- Convert BasePay & OvertimePay columns to numerical columns

In [34]:
sal["BasePay"]=pd.to_numeric(sal["BasePay"], errors='coerce')
sal["BasePay"]= sal["BasePay"].fillna(0)
sal["OvertimePay"].isna().sum()
sal["OvertimePay"]=pd.to_numeric(sal["OvertimePay"], errors='coerce')
sal.dtypes

Id                    int64
EmployeeName         object
JobTitle             object
BasePay               int32
OvertimePay         float64
OtherPay             object
Benefits             object
TotalPay            float64
TotalPayBenefits    float64
Year                  int64
Notes               float64
Agency               object
Status               object
dtype: object

# 5- What is the average BasePay?

In [37]:
sal["BasePay"].mean()

66053.34393961818

# 6- What is the highest amount of OvertimePay in the dataset?

In [38]:
sal.OvertimePay.max()

245131.88

# 7- What is the job title of  JOSEPH DRISCOLL?

In [43]:
sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

# 8- How much does JOSEPH DRISCOLL make (including benefits)?

In [47]:
sal[sal["EmployeeName"]=="JOSEPH DRISCOLL"]["TotalPayBenefits"]

24    270324.91
Name: TotalPayBenefits, dtype: float64

# 9- What is the name of highest paid person (including benefits)?

In [53]:
sal.head()
sal[sal["TotalPayBenefits"]== sal["TotalPayBenefits"].max()]["EmployeeName"]

0    NATHANIEL FORD
Name: EmployeeName, dtype: object

# 10- What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid

In [58]:
sal[sal["TotalPayBenefits"]== sal["TotalPayBenefits"].min()]["EmployeeName"]
####YES he is paying negative value which is for sure an outlier

148653    Joe Lopez
Name: EmployeeName, dtype: object

# 11- What was the average (mean) BasePay of all employees per year? (2011-2014)?

In [64]:
sal.groupby("Year").mean()["BasePay"]

Year
2011    63595.525872
2012    65435.992819
2013    68509.468888
2014    66557.101251
Name: BasePay, dtype: float64

# 12- How many unique job titles are there?

In [68]:
sal["JobTitle"].nunique()

2159

# 13- What are the top 5 most common jobs?

In [72]:
sal["JobTitle"].value_counts().head(5)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: JobTitle, dtype: int64

# 14- How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)

In [87]:
ss=sal[sal["Year"]==2013]
sal.head()
ss["JobTitle"].value_counts().tail()

Chief, Fire Department        1
Special Assistant 15          1
Head Photographer             1
Public Defender               1
Captain, (Fire Department)    1
Name: JobTitle, dtype: int64

# 15- How many people have the word Chief in their job title? (This is pretty tricky)

In [96]:
sal[sal["JobTitle"].str.contains("Chief",case=False, na=False)].shape[0]

627

# 16- Bonus: Is there a correlation between length of the Job Title string and Salary?

In [97]:
sal["jobtitlelen"]=sal["JobTitle"].apply(len)

sal["jobtitlelen"].corr(sal["TotalPayBenefits"])

-0.03687844593260671

# Great Job!